:root {
  --light_background: #eaeff4;
  --light_primary: #002a5e;
  --light_secondary: #d9d9d9;
  --light_letters: #333333;
  --light_accent: #c6a300;

  --dark_background: #0b0f14;
  --dark_primary: #a3cdff;
  --dark_secondary: #262626;
  --dark_letters: #cccccc;
  --dark_accent: #ffdb38;
}

body,
html,
.app {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}
body {
  min-width: 360px;
}

/* MAIN DIV + HEADING */

/* Light mode */
.app.light {
  background-color: var(--light_background);
  color: var(--light_letters);
}

.app.light .header {
  /* background-color: var(--light_primary); */
  border-bottom: 2px solid var(--light_accent);

  /* background-color: rgba(0, 42, 94, 0.7); */
}

/* Dark mode */
.app.dark {
  background-color: var(--dark_background);
  color: var(--dark_letters);
}

.app.dark .header {
  /* background-color: var(--dark_primary); */
  border-bottom: 2px solid var(--dark_accent);

  /* background-color: rgba(163, 205, 255, 0.4); */
}

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  padding-right: 20px;
  font-size: 32px;
}
.mode-toggle {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.2s ease;
}

/* HERO IMAGE */
.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.hero-image {
  width: 100%;
  height: auto;
  display: block;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  text-align: center;
  /* Optional styling */
  font-size: 32px;
  font-weight: bold;
  width: 70%;

  padding: 0 70px;
  border-radius: 8px;
}
.light .hero-text {
  background-color: rgba(163, 205, 255, 0.8);
}
.dark .hero-text {
  background-color: rgba(0, 42, 94, 0.8);
}
@media (max-width: 600px) {
  .hero-text {
    padding: 0 40px;
  }
  .hero-text h1 {
    font-size: 24px;
  }
  .header h1 {
    font-size: 24px;
  }
}

/* ARTICLES */

.content {
  padding: 0;
}

.article {
  max-width: 100%;
  margin: auto;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;

  text-align: left;
  border-top: 2px solid transparent;
}
.light .article {
  border-top-color: var(--light_accent);
}
.dark .article {
  border-top-color: var(--dark_accent);
}
.light .type-dark {
  background-color: var(--light_secondary);
}
.dark .type-dark {
  background-color: var(--dark_secondary);
}
.type-light {
  flex-wrap: wrap-reverse;
}
.text-div {
  max-width: 30%;
  min-width: 300px;
}
.image-div {
  max-width: 50%;
  min-width: 300px;
}
.image-div img {
  width: 100%; /* Take full width of container */
  height: auto;
}
.last {
  margin-bottom: 50px;
}

/* FOOTER */
.footer {
  padding: 20px 20px 15px;
  border-top: 2px solid transparent;
}

.light .footer {
  border-top-color: var(--light_accent);
  background-color: var(--dark_primary);
}

.dark .footer {
  border-top-color: var(--dark_accent);
  background-color: var(--light_primary);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-title,
.footer-author {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.footer-title span {
  font-weight: 700;
  font-style: italic;
}

/* TOGGLE COLORS */
.switch-div {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider::before {
  transform: translateX(22px);
}
.switch-label {
  margin-left: 10px;
  font-weight: 600;
  user-select: none;
}
